[Unit]
Description=ASP.NET Core API
After=network.target

[Service]
WorkingDirectory=/srv/StockAPI
ExecStart=/usr/bin/dotnet /srv/StockAPI/StockAPI.dll
SyslogIdentifier=StockAPI

# Restart 
Restart=always
RestartSec=5

# Environment variables
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=ASPNETCORE_URLS=http://0.0.0.0:3000

[Install]
WantedBy=multi-user.target