body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    background-color: #f4f4f4;
}

table {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow:0 0 10px;
    width: 900px;
    height: fit-content;
    border-collapse: collapse;
}

td, th {
    padding: 8px;
    border: 1px solid #ccc
}